fastapi
uvicorn
streamlit
requests
langchain
langchain-community
langchain-chroma
langchain-huggingface
langgraph
chromadb
networkx
beautifulsoup4
selenium
webdriver-manager
sentence-transformers
sounddevice
soundfile
numpy
scipy
torch
transformers
accelerate
bitsandbytes
unsloth
faster-whisper
parler-tts