beautifulsoup4==4.14.3
fastapi==0.127.1
faster_whisper==1.2.1
langchain==1.2.0
langchain_chroma==1.1.0
langchain_community==0.4.1
langchain_core==1.2.5
langchain_huggingface==1.2.0
langchain_text_splitters==1.1.0
langgraph==1.0.5
networkx==3.4.2
numpy==2.4.0
parler_tts==0.2.2
pydantic==2.12.5
Requests==2.32.5
scipy==1.16.3
selenium==4.39.0
sounddevice==0.5.3
soundfile==0.13.1
streamlit==1.49.1
torch==2.8.0
transformers==4.46.1
uvicorn==0.40.0
webdriver_manager==4.0.2
